#front
front.url=https://iguana-devops.pp.ua/#
front-end.url=httsp://iguana-devops.pp.ua/
#db
db.driver=org.postgresql.Driver
db.url={{ db_url }}
db.username={{ db_username }}
db.password= {{ db_password }}
#hibernate
{{ hibernate_data }}
#liquibase
{{ liquibase_data }}
#smtp
{{ smtp_data }} 
email.username={{ email_username }}
email.password={{ email_password }}
#google maps
map.key={{ map_key }}
#fb
facebook.appKey={{ facebook_appKey }}
facebook.appSecret={{ facebook_appSecret }}
#google
google.appKey={{ google_appKey }}
google.appSecret={{ google_appSecret }}
