#front
front.url=https://iguana-devops.pp.ua/#
front-end.url=httsp://iguana-devops.pp.ua/
#db
db.driver=org.postgresql.Driver
db.url=jdbc:postgresql://10.65.0.3:5432/citizen-db
db.username={{ db_username }}
db.password=
#hibernate
hibernate.dialect=org.hibernate.dialect.PostgreSQL92Dialect
hibernate.show_sql=true
entity_manager.packages.to.scan=com.softserveinc.geocitizen.entity
#liquibase
driver=org.postgresql.Driver
url=jdbc:postgresql://192.168.101.30:5432/citizen-db
username=postgres
password=postgres
changeLogFile=src/main/resources/liquibase/mainChangeLog.xml
verbose=true
dropFirst=false
outputChangeLogFile=src/main/resources/liquibase/changeLog-NEW.postgresql.sql
referenceUrl=jdbc:postgresql://192.168.101.30:5432/citizen-db
diffChangeLogFile=src/main/resources/liquibase/diffChangeLog.yaml
referenceUsername=${db.username}
referencePassword=${db.password}
spring.liquibase.change-log=src/main/resources/liquibase/structure.yaml
#smtp
mail.smtps.host={{ mail_smtps_host }}
mail.smtp.socketFactory.class=SSL_FACTORY
mail.smtp.socketFactory.fallback=false
mail.smtp.port=465
mail.smtp.socketFactory.port=465
mail.smtps.auth=true
mail.smtps.quitwait=false
email.username={{ email_username }}
email.password={{ email_password }}
#google maps
map.key={{ map_key }}
#fb
facebook.appKey={{ facebook_appKey }}
facebook.appSecret={{ facebook_appSecret }}
#google
google.appKey={{ google_appKey }}
google.appSecret={{ google_appSecret }}
